/**
*** SIMPLE GRID
*** (C) ZACH COLE 2016
**/

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

/* UNIVERSAL */

html,
body {
 float: left;
  
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

.image {
float:right;
width: 65%;

}
.clearfix {
  overflow: auto;
}
table, th, td{
  border: 3px solid black;
padding: 2px;
}
th {
  font-size: larger;
}
table {
  margin: auto;
  width:95% ;
  box-sizing: border-box;     }
td {
  text-align: start;
}
/* ROOT FONT STYLES */
* {
  font-family: 'Lato', Helvetica, sans-serif;
  color: #333447;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
/* ==== GRID SYSTEM ==== */
.container {
  float: left;
  justify-content: space-between;
  background-color: darkgray;
  margin: auto;
  text-align: left;
  padding: 1em;
  width: 100%;
}
.row {
  position: relative;
  
  padding: 10px;
}
.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 100%;
}
.col-1-sm {
  width: 4.33%;
}
.col-2-sm {
  width: 12.66%;
}
.col-3-sm {
  width: 21%;
}
.col-4-sm {
  width: 29.33%;
}
.col-5-sm {
  width: 37.66%;
}
.col-6-sm {
  width: 46%;
}
.col-7-sm {
  width: 54.33%;
}
.col-8-sm {
  width: 62.66%;
}
.col-9-sm {
  width: 71%;
}
.col-10-sm {
  width: 79.33%;
}
.col-11-sm {
  width: 87.66%;
}
.col-12-sm {
  width: 96%;
}
.row::after {
	content: "";
	display: table;
	clear: both;
}
.image1 {
  width: 50%;
}
.hidden-sm {
  display: none;
}
.col-3 {
  align-items: flex-start;
}

@media screen and (min-width: 800px) {  /* 540px */
  .container {
    display: block;
    width: 100%;
  }
}

@media  screen and (min-width: 800px) {  /* 720px */
  .col-1 {
    width: 4.33%;
  }

  .col-2 {
    width: 12.66%;
  }

  .col-3 {
    width: 21%;
  }

  .col-4 {
    width: 29.33%;
  }

  .col-5 {
    width: 37.66%;
  }

  .col-6 {
    width: 46%;
  }

  .col-7 {
    width: 54.33%;
  }

  .col-8 {
    width: 62.66%;
  }

  .col-9 {
    width: 71%;
  }

  .col-10 {
    width: 79.33%;
  }

  .col-11 {
    width: 87.66%;
  }

  .col-12 {
    
    display: block;
  }
  .hidden-sm {
    display: block;
  }
}


