

html,
body {
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;

}
.container {
    background-color: darkgray;
    font-style: normal;
    text-align: start;
    flex-wrap: wrap;
    margin: auto;
    float: left;
    padding: 10px;
    
}
.header {
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    align-content: space-between;
}
.image1 {
    float: right;
    width: 40%; 
    padding: 10px;
}
.content {
    padding: 2em;
    align-content: space-around;
    margin: auto;
}
.language {
    padding: 10px;
    margin: auto;
}

.city {
    display: flex;
    align-content: space-around;
    margin: auto;
}
table, th, td{
    border: 3px solid black;
  padding: 1px;
 margin: auto;
  
}
th {
    font-size: larger;
}
table {
    margin: auto;
    width:95% ;
    border-collapse: collapse;
    box-sizing: border-box;   
    }
td {
    text-align: start;

}
.the_places {
    display: flex;
}

.image {
    float: right;
   width: 60%;
   padding: 10px;
}
.footer {
    display: flex;
    align-items: center;
    font-size: large;
    font-family: cursive;
    margin: auto;
    padding: 2px;
}
h2 {
    text-align: center;
    margin: auto;
}
p {
    padding: 6px;
}

.clearfix {
    overflow: auto;
    zoom: 1;
}
@media screen and (max-width: 800px){
    .container {
        display: block;
        width: 100%;
    }
    .the_places{
    display: flex;
   flex-flow: wrap;
    }
    .city {
        display: block;
    }
    .header{
        max-width: fit-content;
    }

}